<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learnspringcloud.userprovider.dao.UserDao">
    <insert id="register" parameterType="java.lang.String">
      insert into user(uname,upassword,usex) values (#{uname},#{upassword},#{usex})
    </insert>
    <select id="login" resultType="com.entity.User" parameterType="java.lang.String">
      select * from user where uname = #{uname}
    </select>
</mapper>